@model IEnumerable<EntityLayer.Concrete.Author>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AuthorLayout.cshtml";
}
<br />
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="card-body">
                                <h4 style="color: red">My Profile</h4>

                                @Html.Action("AuthorEdit", "AuthorPanel")
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</body>
